@model List<TodoApp.Models.ToDo>

@{
    ViewData["Title"] = "ToDo List";
}

<h1>ToDo List</h1>
<ul>
    @foreach (var todo in Model)
    {
        <li>@todo.Title - @todo.Description (@todo.CompletionDate)</li>
    }
</ul>
